In [1]:
%matplotlib ipympl
import matplotlib as plt
import sys
sys.path.append('../../plotting')
from plotlib import * 
import numpy as np
import pandas as pd
import matplotlib
import glob
from math import sqrt
SPINE_COLOR = 'gray'
PATH = './../NDN/results/client2/2017112709:25:46_log'
import os
script = "./../NDN/Extract_KPIs.sh"
data = {}

FigureCanvasNbAgg()

In [2]:
def read_trace_file_url(trace_file_url):
    colnames = ['Timestamp','Increasingtime','GPS_1','GPS_2', 'bytes', 'elapsed_ms']
    data = pd.read_csv(trace_file_url, names=colnames, delim_whitespace=True)
    data['bitrate'] = data.bytes * 8 /  (data.elapsed_ms * 1000 )# mbit/s
    data['Increasingtime'] = (data['Increasingtime'] - data['Increasingtime'][0]) / 1000 - 288
    data.Timestamp = pd.to_datetime(data.Timestamp)
    return(data)

# Chunk Bitrate Plots

In [63]:
import re
def ndnChunkTroghputQuality2(PATH, fig, ax):
    N = 5
    for f in glob.iglob(PATH, recursive=True): # /*directoryRegExp*/ to reduce output (long runtime)
        ! {script} {os.path.dirname(f)} {os.path.basename(f)}
        #fig, ax = plt.subplots(1,1)
        format_axes(ax)
        #global df
        df = pd.read_csv(os.path.join(os.path.dirname(f), "{0}_out".format(os.path.basename(f)), "chunkThroughput") , delim_whitespace=True ,names = ['seconds_offset', 'chunkThroughput'])
        df.columns = map(lambda x: re.sub('_', '', x), df.columns)
        #df['subject'] = 0
        df = df.sample(frac=0.5)
        title=f
        #display(df.head())
        ax.scatter(df["secondsoffset"], df["chunkThroughput"], marker='x', s=0.1, color=Accent_5.mpl_colors[1])
        #sns.tsplot(data=df, unit='subject', interpolate=True, ci=[68, 95], time="secondsoffset", value="chunkThroughput")
        ax.set_xlabel('Playback time (seconds)')
        ax.set_ylabel('Video quality (Mbit/s)')
        ax.set_ylim(0,6)
        ax.set_xlim(0,200)
        profile = read_trace_file_url('./ndn/report.2010-09-28_1407CEST.log.txt')
        sec=profile['Increasingtime']
        bw=profile.bitrate
        profile
        bw_plot = ax.plot(sec, bw, label='Bandwidth Trace')
        
        df = pd.read_csv(os.path.join(os.path.dirname(f), "{0}_out".format(os.path.basename(f)), "quality") , delim_whitespace=True, 
                         names = ['seconds_offset', 'useless', 'useless', 'segment_number', 'qualitylevel', 'videobitrate', 'useless', 'realbitrate'])

        df.videobitrate = df.videobitrate.apply(lambda x: x * 1.00e-6) # in Mbit/s
        df.realbitrate = df.realbitrate.apply(lambda x: x * 1.00e-6) # in Mbit/s
        bitrate_plot = ax.plot(df.seconds_offset, df.videobitrate, 'r', label='Video Bitrate')
        fig.tight_layout()
        
compPaths = [
            ('BOLA','2017.12.22-14:41-bolasequential_log'),
             ('Panda', '2017.12.21-11:15-pandasequential_log'),
#             ('Extended Panda', '2017.12.22-14:08-psequential_log'),
             ('Extended Panda', '2017.12.21-09:04-psequential_log')]

size = setupfiguresthin()
fig, axes = plt.subplots(3,2)
fig.set_size_inches(size[0], size[1]*3)
j = 0
for player in compPaths:
    for i in range(1,3):
        list_of_files = glob.glob('./results/client{0}/{1}'.format(i, player[1])) # * means all if need specific format then *.csv
        latest_file = sorted(list_of_files, key=os.path.getctime)[0]
        setupfigures80()
        axes[j][i-1].set_title('{}, Player {}'.format(player[0], i))
        ndnChunkTroghputQuality2(latest_file, fig, axes[j][i-1])
        #qualityPlot(PATH)
        #bufferPlot(PATH)
    j = j + 1

axes[0][0].legend(bbox_to_anchor=(0., 1.2, 2.2, .102), loc=3,
               ncol=4, mode="expand", borderaxespad=0)
fig.subplots_adjust(top=0.8)
fig.savefig(getFilename('ndn-scatter-segments-combined', 'ndn'))

FigureCanvasNbAgg()

./results/client1/2017.12.22-14:41-bolasequential_log
./results/client1/2017.12.22-14:41-bolasequential_log
./results/client1
./results/client1/2017.12.22-14:41-bolasequential_log

       secondsoffset  chunkThroughput
55627     270.979067         0.890100
24306      99.620057         2.157914
50898     252.725864         1.809231
39887     198.670519         3.714735
15861      64.554532         0.000006

/opt/conda/lib/python3.6/site-packages/pandas/io/parsers.py:677: UserWarning: Duplicate names specified. This will raise an error in the future.
  return _read(filepath_or_buffer, kwds)

./results/client2/2017.12.22-14:41-bolasequential_log
./results/client2/2017.12.22-14:41-bolasequential_log
./results/client2
./results/client2/2017.12.22-14:41-bolasequential_log

       secondsoffset  chunkThroughput
44755     250.280564         2.228117
12849      57.525033         4.766438
44666     249.800062         4.490263
7734       34.430725         2.064652
2372       10.690680         4.560777

./results/client1/2017.12.21-11:15-pandasequential_log
./results/client1/2017.12.21-11:15-pandasequential_log
./results/client1
./results/client1/2017.12.21-11:15-pandasequential_log

       secondsoffset  chunkThroughput
31743     177.141803         2.534944
31316     174.578560         1.543878
17058      77.777918         4.964935
32740     183.514857         3.276275
30753     171.018061         3.269894

./results/client2/2017.12.21-11:15-pandasequential_log
./results/client2/2017.12.21-11:15-pandasequential_log
./results/client2
./results/client2/2017.12.21-11:15-pandasequential_log

       secondsoffset  chunkThroughput
51338     265.616650         4.402544
6634       29.118984         3.814225
8680       37.776617         4.466388
51571     267.029453         1.467249
53100     274.879669         4.679666

./results/client1/2017.12.21-09:04-psequential_log
./results/client1/2017.12.21-09:04-psequential_log
./results/client1
./results/client1/2017.12.21-09:04-psequential_log

       secondsoffset  chunkThroughput
38002     200.009419         4.432718
42820     225.680881         4.570540
49972     254.173501         4.540123
17687      73.010686         4.741573
27219     118.503594         4.368499

./results/client2/2017.12.21-09:04-psequential_log
./results/client2/2017.12.21-09:04-psequential_log
./results/client2
./results/client2/2017.12.21-09:04-psequential_log

       secondsoffset  chunkThroughput
49787     241.291617         4.477930
36172     180.237042         3.126363
30837     128.928933         1.832813
17482      65.706172         4.825605
58872     274.526298         4.417417

./gfx/ndn/ndn-scatter-segments-combined.pdf